@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Gidole&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;  
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    border:none;

}


body{
    font-family:"Montserrat", sans-serif;
    background-image: url(Hills.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 20px;
}

section{
    color: #fefae0;
}

h1{
    font-size: 60px;
    text-align: center;
    color: #FFF;
    background: url(Hills.jpg) center;
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite;
}

h2{
    color:#bdb58e;
    font-size: 40px;
    text-align: center;
    text-shadow: #bdb58e 0px 0px 1.5px;
    
    
    
}


main{
    display:list-item;
    justify-content: center;
    align-items: center;
    height: 100vh; /*full height of the viewport*/;
    flex-direction: column;
    gap: 10px;

}
.card{
    width: 450px;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color: #20773d;
    color:#fefae0;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}


button{
    background-color: transparent;
    margin-top: 10px;
    font-size: 25px;
    color: #c6bfa0;
    text-align: center;
    font-weight: 300px;
    font-family:"Montserrat", sans-serif;

}

button:hover{
    text-decoration: underline;;
    text-shadow: #bdbbae 0px 0px 2px;
}

nav a{
    font-size: 16px;
    margin: auto;
    margin-left: 24px;
    margin-right: 24px;
    color: #b8b5a2; /*color of nav bar*/
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;

}

nav ul{
    list-style: none;
    color:#b8b5a2;
    margin: 0;
    padding: 10;
    gap: 20px;
}

nav ul li{
    display: inline;
    
}

nav a:hover{
    color: #bdbbae;
    border-bottom: 3px solid  #bdbbae;
}
nav a:active{
    color:#aba588; 
}

.wrapper {
    height: 25vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    position: sticky;
  }
  
  .typing-demo {
    width: 36ch;
    animation: typing 2s steps(24), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

footer{
    color: #3c5f3c;
    text-shadow: #9d9a88 0px 0px 2px;
    position: absolute;
    bottom: 0;
    text-align: center;

}
